
/* General styles */

html {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.4;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {

  html {
    font-size: 14px;
  }

  body {
    line-height: 1.3;
  }

  .main-container {
    max-width: 100%;
}

}

.flex {
  display: flex;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Button & Links styles */

.button {
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 13rem;
  padding: 0.75rem;
  margin-top: 2.5rem;
  background-color: #f26226;
  border: 1px solid #f26226;
  color: white;

}

.button:hover {
  background-color: white;
  color: #f26226;
  border: 1px solid #f26226;
}

.link {
  text-decoration: none;
  color: #f26226;
  text-transform: capitalize;
  font-weight: 300;
}

.link:hover {
  text-decoration-line: underline;
  color: #2e62af;

}

/* Header styles - General & Large screens */

/*header,
div,
nav {
  border: 1px solid black;
}*/

header {
  background: white;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header-desktop {
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;

}

.hdr-logo,
header nav {
  height: 2rem;
  padding: 1rem 0;
  align-items: center;
}

.name-one {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2e62af;

}

.name-two {
  font-size: 1.1rem;
  font-weight: 900;

}

nav span {
  padding-left: 1rem;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-variant: small-caps;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: #f26226;
}

.header-mobile {
  display: none;
}


@media only screen and (max-width: 480px) {

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    height: 4.6rem;
    justify-content: space-around;
  }

}

/* Banner styles */

.banner div {
  margin-top: 4rem;
}

.banner {
  background-color: #c0cfe7;
}


.banner-left {
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;

}

.banner-left img {
  width: 100%;
}

.banner-right {
  flex-direction: column;
  width: 40%;
  padding: 2rem 0rem 2rem 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.banner-right h1 {
  width: 20rem;
}

.banner-right h3 {
  width: 20rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 480px) {

  .banner div {
    margin-top: 0rem;
  }

  .banner {
    flex-direction: column;

  }

  .banner-left {
    width: 100%;
    padding: 0rem;
    margin-top: 4.6rem;
  }

  .banner-left img {
    margin-top: 4.6rem;
  }

  .banner-right {
    width: 90%;
    padding: 2.3rem 1.15rem;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }

  .banner-right .button {
    margin: auto;
    margin-top: 1.71rem;
  }

  .banner-right h1,
  .banner-right h3 {
    width: 23rem;
  }

}


/* Featured section styles */

/*.featured div {
  border: 1px solid black;
}*/

.featured-main {
  width: 60%;
  padding: 2rem 0rem 2rem 1.5rem;
}

.featured-main img {
  width: 100%;
  margin-bottom: 2rem;
}

.featured-main p {
  margin: 1.5rem 0rem;
  font-style: italic;
}

.featured-main span {
  font-size: 0.8rem;
}

.featured-sub {
  width: 40%;
  flex-direction: column;
  padding: 1rem 0rem 2rem 1.5rem;
}

.featured-sub .feature {
  padding: 1rem 0rem 1rem 1rem;
}

.ftrd-img-mob {
  display: none;
}

.feature-image {
  width: 35%;
  margin-right:;
}

.feature-image img {
  height: auto;
  max-width: 100%;
}

.feature-content {
  width: 65%;
  flex-direction: column;
  justify-content: center;
padding: 0rem 1rem;
}

.feature.row-three {
  background-color: #d5dfef;
}

.feature-content .link {
  margin-top: 1rem;
}

@media only screen and (max-width: 480px) {

  .featured-main {
    display: none;
  }

  .featured {
    padding: 0rem;
  }

  .featured-sub {
    width: 100%;
    padding: 1.14rem;
  }

  .featured-sub .feature {
    flex-wrap: wrap;
    padding: 0rem;
  }

  .feature-image,
  .feature-content {
    width: 100%;
  }

  .ftrd-img-dsk {
    display: none;
  }

  .ftrd-img-mob {
    display: block;
  }

  .feature-content {
    padding: 2.29rem 1.14rem;
  }

  .feature.row-three {
    background-color: white;
  }

}


/* Start learning section styles */

/*.learning div {
  border: 1px solid black;
}*/

.learning {
  background-color: #eceef2;
  padding-top: 2rem;
  flex-direction: column;
}

.learning h2 {
  margin: 0 auto;
}

.learning-wrapper {
  padding: 2rem 3.5rem 1rem 3.5rem;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  height: ;
}

.course-wrapper {
  flex-direction: column;
  width: 30%;
  margin: 0rem 1rem 2rem 1rem;
  background-color: white;
}

.edu-image img {
  height: auto;
  max-width: 100%;
}

.edu-details {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  height: 10rem;
  line-height: 1.5;
}
.edu-details p {
  margin-top: 0.5rem;
  font-style: italic;
}

.learning-mobile {
  display: none;
}


@media only screen and (max-width: 480px) {

  .learning-wrapper {
    display: none;
  }

  .mob-padding-v1 {
    padding-top: 1.14rem;
    padding-right: 1.14rem;
    padding-bottom: 1.71rem;
    padding-left: 1.14rem;
  }

  .learning-mobile {
    display: block;
    max-width: 100%;
    background-color: #eceef2;
  }

  .learning-mobile h3 {
    max-width: 100%;
    background-color: white;
    margin-bottom: 0.6rem;
  }


}


/* Thesis section styles */

.thesis {
  margin-top: 2rem;
}

.thesis h2 {
  text-align: center;
}

.thesis-wrapper {
  padding: 2rem 0rem 2rem 1.5rem;
}

.thesis .featured-main video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.thesis .featured-main p {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.thesis-mob {
  display: none;
}


@media only screen and (max-width: 480px) {

  .thesis {
    display: none;
  }

  .thesis-mob {
    display: block;
    max-width: 100%;
    padding-top: 1.14rem;
  }

  .thesis-mob h2 {
    padding-bottom: 1.14rem;
    text-align: center;
  }

  #vid-mob {
    padding-bottom: 1.71rem;
  }




}



/* Footer section styles */

footer {
  height: auto;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  background-color: #c0cfe7;
  color: ;
}


@media only screen and (max-width: 480px) {

  footer {
    height: auto;
    padding: 1.14rem 1.79rem;
  }


}
